
@{
    Layout = "~/Views/Shared/Master.cshtml";
}

    <div class="row mt-3"> 
        <div class="col-md-12">
            <h5 class="text-primary text-center">Edição do Aluno</h5>
        </div>
    </div>

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form action="/Aluno/Update" method="post">
                    <input type="hidden" name="Aluno.id" value="@ViewBag.Aluno.Id" >
                    <div class="form-group" id="div-campo-nome">
                        <label for="campo-nome">Nome<span class="text-danger font-weight-bold"> * </span></label>
                        <input type="text" class="form-control" name="Aluno.Nome" id="campo-nome" placeholder="Digite o nome do Aluno" required="required" onfocusout="validarCampoNome()" value="@ViewBag.Aluno.Nome">
                        @Html.ValidationMessage("Aluno.Nome", new { @class = "text-danger" })
                    </div>
                    <div class="form-group" id="div-campo-codigo-matricula">
                        <label for="campo-codigo-matricula">Código da Matricula<span class="text-danger font-weight-bold"> * </span></label>
                        <input type="text" class="form-control" name="Aluno.CodigoMatricula" id="campo-codigo-matricula" placeholder="Digite o Código da Matricula" required="required" value="@ViewBag.Aluno.CodigoMatricula">
                        @Html.ValidationMessage("Aluno.CodigoMatricula", new { @class = "text-danger" })
                    </div>
                    <div class="form-group" id="div-campo-nota-1">
                        <label for="campo-nota-1">Primeira Nota<span class="text-danger font-weight-bold"> * </span></label>
                        <input type="text" class="form-control" name="Aluno.Nota1" id="campo-nota-1" placeholder="Informe a Primeira Nota" required="required" value="@ViewBag.Aluno.Nota1">
                        @Html.ValidationMessage("Aluno.Nota1", new { @class = "text-danger" })

                    </div>
                    <div class="form-group" id="div-campo-nota-2">
                        <label for="campo-nota-2">Segunda Nota<span class="text-danger font-weight-bold"> * </span></label>
                        <input type="text" class="form-control" name="Aluno.Nota2" id="campo-nota-2" placeholder="Informe a Segunda Nota" required="required" value="@ViewBag.Aluno.Nota2">
                        @Html.ValidationMessage("Aluno.Nota2", new { @class = "text-danger" })
                    </div>
                    <div class="form-group" id="div-campo-nota-3">
                        <label for="campo-nota-3">Terceira Nota<span class="text-danger font-weight-bold"> * </span></label>
                        <input type="text" class="form-control" name="Aluno.Nota3" id="campo-nota-3" placeholder="Informe a Terceira Nota" required="required" value="@ViewBag.Aluno.Nota3">
                        @Html.ValidationMessage("Aluno.Nota3", new { @class = "text-danger" })
                    </div>
                    <div class="form-group" id="div-campo-frequencia">
                        <label for="campo-frequencia">Frequência<span class="text-danger font-weight-bold"> * </span></label>
                        <input type="text" class="form-control" name="Aluno.Frequencia" id="campo-frequencia" placeholder="Informe a Frequência do Aluno" required="required" value="@ViewBag.Aluno.Frequencia">
                        @Html.ValidationMessage("Aluno.Frequencia", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button  type="submit" class="btn btn-info float-right" data-toggle="tooltip" title="Botão para salvar" >
                                <i class="fade fa-save"></i> Cadastrar
                                                                
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

